/* Start adding your styling below! */ 
body {
    background-color: lightsalmon;
}

/* p {
    color: green
} */

h1 {
    font-size: 36px;
}

.center {
    text-align: center;
}

#list-color {
    color: blueviolet
}

#cool-text {
    color: aqua;
}

p {
    color: red;
}
p {
    color: green;
}